body{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 625px;
    margin: 0;
    padding: 0;   
}

.overlay{
    width: 100%;
    height: 625px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: 5;
    bottom: 0;
}

.content{
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
    top: 100px;
}

input{
    width: 30%;
    height: 30px;
    padding: 10px;
}

.location{
    font-size: 25px;
}

.temp{
    font-size: 35px;
}
#description{
    display: none;
    font-size: 35px;
}