body{
    margin: 0;
    padding: 0;
    background-color: #87ceeb;   
}



.content{
    color: #0d3b4c;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 100px;
}

input{
    width: 30%;
    height: 30px;
    padding: 10px;
}

.location{
    font-size: 25px;
}

.temp{
    font-size: 35px;
}
#description{
    display: none;
    font-size: 35px;
}